/* ========== Layout ========== */

html, body {
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;

  min-height:100%;
  width:100%;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  flex: 0;
}

/* ========== Content ========== */

#content {
  padding: 5% 5%;
}

.button {
  margin: 5% 0;

  background-color: #499DD2;
  border: none;
  color: #fefefe;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

/* ========== Footer ========== */

footer {
  text-align: center;
  padding: 20px 0;
  color: #666;
  background: #f2f2f2;
}
